*{ 
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box; 

}
.icon{
    margin-top: 10px;
    margin-right: 35px;

}
.awesome{
    margin-left: 15px;
    font-size: 20px;
}
.form{
    margin-top: 10px;
}
.carousel-control-prev-icon{
    color: black !important;
}
.katalog{
    padding: 10px 24px;
    box-shadow: 0 2px 24px rgb(0 0 0 / 6%);
    border-radius: 12px;
}
.lop{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 145px;
}